.footer {
    background-color: #2f303a;
    padding: 60px 0;
  
  }
  footer .container {
    align-items: baseline;
    display: flex;
  
  }
  
  .footer__block--1 {
    margin-right: 70px;
  }
  
  .footer__block--2 {
    margin-right: 93px;
  }
  
  .footer .logo--white {
    color: var(--white-color);
  }
  .footer__address {
    font-style: normal;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.71;
    text-align: start;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .address__map{
  color: var(--white-color);
  }


  .contact__list{
    margin-bottom: 9px;
  }
  
  
  .footer__join {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: start;
    color: var(--white-color);
    margin-bottom: 20px;
  }
  
  footer .netwoorks__item {
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
  }
  
  .footer .networks__icon {
    fill: var(--white-color);
  }
  
  .footer__form {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    border: none;
  }
  
  .footer__input {
    width: 358px;
    height: 50px;
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    padding: 10px;
    
  }
  
  .footer__btn {
    width: 200px;
    height: 50px;
    background: var(--blue-color);
    color: var(--white-color);
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  .btn__subscribe {
    display: flex;
  justify-content:center;
  align-items: center;
    margin: 10px 28px;
  
  }