.hero {
  max-width: 100%;
  height: 400px;
    // padding: 200px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/img/mobile-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;


    @media screen and (min-width: $mobile) {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/tablet-hero.jpg");
      
    }
    @media screen and(min-wigth: $tablet) {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/hero-Img.jpg");
      // max-width: 100%;
      // height: 600px;

    }
  }
  
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    width: 100%;
    margin: 0 auto;
    padding-top: 118px;

    @media screen and(min-width:$desctop) {
      font-size: 44px;
      line-height: 1.36;
      
    }
  }
  
  .hero__button {
    display: flex;
    font-family: inherit;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background: var(--blue-color);
    width: 216px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    border: none;
  }