.section.progects {
  padding-top: 94px;
}

.progects__title,
.portfolio__title {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;

}


.progects__list{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
 
}

.progects__item {
  list-style: none;
  text-align: start;
  width: 100%;


  @media screen and(min-width:$tablet)  {
   width: calc((100% - 2* 15px)/2); 
     
  }

  @media screen and(min-width:$desctop)  {
    width: calc((100% - 3* 30px)/4); 
      
   }
}


.pogects__svg {
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}


.pogects__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  @media screen and(min-width: $tablet) {
    text-align: start;
  }
}


.pogects__desc {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}