.progects__title,
.portfolio__title {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;

}
.progects__list,
.work__list,
.team__list {
  @media screen and(min-width: $tablet)  {
    max-width: 354px;
    height: 100%;
  }
  @media screen and(min-width: $desctop)  {
    max-width: 270px;
    height: 100%;
  }
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  // margin: 0 15px;
  max-width: 450px;
  height: 100%;

}

.progects__item {
  list-style: none;
  // width: 450px;
  height: 100%;
  text-align: start;
  margin: 0;
  padding: 0;
  // @media screen and(max-width:$tablet)  {
  //   width: 354px;
  //   height: 100%;
  // }
  // @media screen and(max-width:$desctop)  {
  //   width: 270px;
  //   height: 100%;
  // }
}

.pogects__svg {
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  display: flex;
  flex-direction: column;

  @media screen and(max-width:$mobile) {  
  width: 450px;
  height: 100%;}

  @media screen and (max-width: $tablet)  {
    padding: 25px 190px;
    height: 100%;
  }
  @media screen and(max-width: $desctop)  {
    width: 270px;
    height: 100%;
  }
}


.pogects__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: start;
  @media screen and(max-width: $tablet) {
    text-align: center;
  }
}


.pogects__desc {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}