
  body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
  }
  
  .container,
  .progects__list,
  .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    // @media screen and{
      
    // }
  }

  .section {
    width: 480px;
    height: 100px;

    @media screen and(min-width: $tablets)  {
      width: 768px;
      height: 100%;
    }
    @media screen and(min-width: $desctop)  {
      width: 1200px;
      height: 100%;
    }
  }


  .section {
    padding: 94px 0;
  }
  .section:nth-child(3) {
    padding-top: 0;
  }
  .section:nth-child(4) {
    background: rgba(245, 244, 250, 1);
  }